<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <button type="button" class ="btn btn-outline-light">login</button>
            <a href="https://www.linkedin.com/in/agust%C3%ADn-guti%C3%A9rrez-b2367a23a/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/Agustiin2209"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.instagram.com/agustin._09/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://twitter.com/AgustiinG9"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.facebook.com/agustiin22"><img src="../../../assets/facebook.png" id="facebook"></a>
            
        </div>
    </div>
</div>