<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h2>MESSI</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis magnam placeat eos unde ad cupiditate, earum minima quod necessitatibus repudiandae quasi ipsum reprehenderit quae quis numquam perspiciatis corrupti omnis iste?
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/messi.png" class="img-fluid img-messi">
        </div>
    </div>

</div>